:root{
    --color-azul: #60979B;
    --color-eliminar: red;
    --color-botones: #000;
}

body{
    font-family: monospace;
}

#contenedorAudio{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
}

#grabar{
    background-color: rgb(90, 139, 237);
}

.ocultar{
    display: none;
}

.mostrar{
    display: block;
}

audio{
    width: 300px;
    height: 30px;
}

.controles{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

.controles button{
    background: none;
    border: none;
}

.controles p{
    font-size: 20px;
    font-weight: bold;
}

#icon-grabar, #icon-pausar{
    border: 5px solid #000;
    border-radius: 50%;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
}

#icon-pausar{
    color: red;
}

#icon-detener{
    font-size: 40px;
    cursor: pointer;
}

.boton-borrar{
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--color-eliminar);
}

.boton-borrar i{
    color: var(--color-eliminar);
    font-weight: bold;
}

.boton-audio{
    border-radius: 2px;
    border: 1px solid #000;
    padding: 3px 8px;
    background-color: #eee;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.boton-audio:hover{
    background-color: #ddd;
}

ol#recordingsList {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

li#elemA {
    display: contents;
}