:root{
    --color-azul: #60979B;
    --color-eliminar: red;
    --color-botones: #000;
    --color-dorado: #96841a;
    --color-verde: #154d23;
}

body{
    font-family: monospace;
}

#contenedorAudio{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
}

#grabar{
    background-color: rgb(90, 139, 237);
}

.ocultar{
    display: none;
}

.mostrar{
    display: block;
}

audio{
    width: 300px;
    height: 30px;
}

.controles{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

.controles button{
    background: none;
    border: none;
}

.boton-play, .boton-pause{
    background: none;
    border: none;
}

.circle {
    fill: white;
    stroke: black;
    stroke-width: 10;
}

.circle2 {
    fill: black;
    stroke: black;
    stroke-width: 2;
}

.boton-play i, .boton-pause i{
    font-size: 40px;
    cursor: pointer;
}

.controles p{
    font-size: 20px;
    font-weight: bold;
}

#previaList{
    display: contents;
}

#icon-grabar, #icon-pausar{
    border: 5px solid #000;
    border-radius: 50%;
    font-size: 17px;
    padding: 5px;
    cursor: pointer;
}

#icon-pausar{
    color: red;
}

#icon-detener{
    font-size: 40px;
    cursor: pointer;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  background-color: #777;
  width: 20px;
  height: 20px;
  border: 3px solid #333;
  border-radius: 50%;
  margin-top: -9px;
}

input[type=range]::-moz-range-thumb {
  background-color: #777;
  width: 15px;
  height: 15px;
  border: 3px solid #333;
  border-radius: 50%;
}

input[type=range]::-ms-thumb {
  background-color: #777;
  width: 20px;
  height: 20px;
  border: 3px solid #333;
  border-radius: 50%;
}

input[type=range]::-webkit-slider-runnable-track {
  background-color: #777;
  height: 3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  outline: none;
}

input[type=range]::-moz-range-track {
  background-color: #777;
  height: 3px;
}

input[type=range]::-ms-track {
  background-color: #777;
  height: 3px;
}

input[type=range]::-ms-fill-lower {
  background-color: HotPink
}

input[type=range]::-ms-fill-upper {
  background-color: black;
} 

.boton-borrar{
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--color-eliminar);
}

.boton-borrar i{
    color: var(--color-eliminar);
    font-weight: bold;
}

ol#recordingsList {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

li#elemA {
    display: contents;
}

#txtNombre{
    margin-left: 10px;
}

.boton-audio{
    border-radius: 2px;
    padding: 3px 8px;
    background-color: var(--color-dorado);
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

.boton-audio:hover{
    background-color: var(--color-verde);
}

.fechaNota{
    display: inline-block;
    color: #000;
}