:root{
    --color-azul: #60979B;
    --color-eliminar: red;
}

body{
    font-family: monospace;
}

#grabar{
    background-color: rgb(90, 139, 237);
}

.ocultar{
    display: none;
}

.mostrar{
    display: block;
}

#controls i{
    color: var(--color-azul);
}

.boton-multimedia {

}

.boton-multimedia i{
    color: var(--color-azul);
}

.boton-borrar{
    background: none;
    border: none;
    cursor: pointer;
}

.boton-borrar i{
    color: var(--color-eliminar);
}